*

# Bash
!.bashrc
!.bash_aliases

# zsh
!.zshrc
!.zshrc.pre-oh-my-zsh

# Nvim
!.config
!.config/nvim
!.config/nvim/init.vim

# Vim
!.vim
!.vim/vimrc
!.vim/templates
!.vim/templates/*

# i3
!.i3status.conf

# tmux
!.tmux.conf

!.gitignore

